@import url('https://fonts.googleapis.com/css?family=Lato');

.frame {
    /* border: #aaa 2px solid; */
    min-height: 10em;
    padding: 1em;
    border-radius: 5px;
    background-color: #372248;
    margin-bottom: 2em;
    overflow: hidden;
    position: relative;
}


.frame:hover{
    background-color:  #49315B;
    cursor: pointer;
}

.link-icon{
  position: absolute;
  left: 94%;
  font-size: 1.2em;
  opacity: 0;
}
.frame:hover .link-icon{
    opacity: 1;
}
.image-frame {
    border: 2px solid #F46036;
    overflow: hidden;
    border-radius: 500px;
    height: 10em;
    width: 10em;
    position: relative;
}

.image {
    width: 100%;
    /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */
}

/* .image::before {
    background-color: rgba(91, 133, 170, 0.7);
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
} */

.name{
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
}
.email:not(.fa){
    color: #5B85AA;
    font-weight: 700;
}

.objective{
    margin: 1em 3em;
}
.app-short-cv .objective{
    text-decoration: none;
}