@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
.container.row{
    width: 100%;
}
.heading{
    position: relative;
    display: inline-block;
    left: 2em;
    font-family: 'Slabo 27px', serif;
    font-size: 4em;
    color: #333;
    margin: 0.2em 0;

}
.image-frame{
    border-radius: 3000px;
    max-width: 20em;
    overflow: hidden;
    margin: auto;    
}
.image{
    width: 100%;
}
.text-frame{
    padding: 1em;
    margin-top: 1em;
    width: 100%;
    color: #333;
    font-size: 1.5em;
    background-color: rgba(200, 230, 201, 0.5);
    border-radius: 7px;
    transition: background-color 0.5s;
}
.text-frame>p:not(:last-child){
    margin-bottom: 0.7em;
}
.text-frame:hover{
    background-color: rgba(200, 230, 201, 1);
}

@media only screen and (max-width: 600px) {
    .heading{
        left: 1em;
    }
  }
