<div class="tile-frame">
<div class="tile">
<div class="row">
  <div class="col-sm-4 col-xs-4 icons">
    <div class="icon"
         *ngFor="let tech of project?.technologies">
         <img class="icon-image"
              [src]="tech.path">
              <div class="icon-name">
                {{tech.name}}
              </div>
        </div>
  </div>
  <div class="col-sm-8 col-xs-8 text">
      <div class="project-title">{{project?.title}}</div>
      <div class="project-year">{{project?.year}}</div>
    <div class="text-links">
    <div *ngIf="project?.repositoryUrl" 
         class="project-link">
        <a [href]="project?.repositoryUrl"
       target="_blank">
       <span class="fas fa-code"></span>  check out the code
      </a>
    </div>
    <div *ngIf="project?.blogUrl" 
         class="project-link">
      <a [href]="project?.blogUrl"
         target="_blank">
        <span class="fab fa-readme"></span> read the blog
        </a>
    </div>
    <div *ngIf="project?.hostedProjectUrl" 
         class="project-link">
      <a [href]="project?.hostedProjectUrl"
         target="_blank">
         <span class="fas fa-external-link-alt"></span> visit the site
        </a>
    </div>
  </div>
    <div class="project-about"
         [innerHtml]="project?.about">
    </div>
  </div>
</div>
</div>
</div>
