@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

.heading{
    position: relative;
    display: inline-block;
    left: 2em;
    font-family: 'Slabo 27px', serif;
    font-size: 4em;
    color: #333;
    margin: 0.2em 0;

}
.container.row{
    width: 100%;
}
.projects-container{
    margin: auto;
    text-align: center;
    width: 100%;
    overflow: hidden;
}
@media only screen and (max-width: 600px) {
    .heading{
        left: 1em;
    }
  }