
  <div class="heading">Contact</div>
  <div class="content">
  <div class="contact-container">
    <a href="https://twitter.com/KevinMHoran1"
       target="_blank">
      <span  class="fab fa-twitter icon"></span>
    </a>
    <a href="https://github.com/kmhoran"
       target="_blank">
       <span class="fab fa-github icon"></span>
    </a>
    <a href="https://www.linkedin.com/in/kevin-michael-horan"
       target="_blank">
       <span class="fab fa-linkedin-in icon"></span>
    </a>
    <a href="https://medium.com/@kevin.michael.horan/scheduling-tasks-in-django-with-the-advanced-python-scheduler-663f17e868e6"
       target="_blank">
       <span class="fab fa-medium icon"></span>
    </a>
  </div>
  <div class="email">kevin.michael.horan@gmail.com</div>
  <div class="city">Los Angeles, Ca</div>
</div>