@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

.heading{
    position: relative;
    display: inline-block;
    left: 2em;
    font-family: 'Slabo 27px', serif;
    font-size: 4em;
    color: #333;
    margin: 0.2em 0;

}
.content{
    text-align: center;
}
.contact-container{
    margin-top: 2em;
    text-align: center;
    user-select: none;
}
.contact-container>a{
    outline: 0;
}
.icon{
    font-size: 6em;
    color: #333;
    margin: 0.3em 0.5em;
    cursor: pointer;
}

.icon:hover{
    color: #81C784;
}
a:hover{
    text-decoration: none;
}
.email{
    text-align:center;
    margin: 1em 0 0 0;
    font-weight: 700;
}
.city{
    margin-top: 1em;
    text-align: center;
    font-size: 2em;
    font-family: 'Slabo 27px', serif;
    user-select: none;
}
@media only screen and (max-width: 600px) {
    .heading{
        left: 1em;
    }
    .icon{
        font-size: 4em;
    }
  }