<div class="row container">
    <div class="heading">About</div>
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1 col-xs-12">
            <div class="image-frame">
                <img class="image"
                     src="../../assets/images/profile-sm.jpg"/>
              </div>
        </div>
        <div class="col-sm-8 col-xs-12">
            <div class="text-frame">
                <p>I love developing software and spend my days building applications with the awesome folks at Millennium Space Systems.</p>
                <p>I focus most of my time on C# and the .Net environment. I like a MS SQL on the backend, and Angular of all flavors on the front. When I'm cutting loose it's Python all the way!</p>
                <p>There's really nothing more important to me than a cooperative team culture. I want to build a great product with great people and have fun doing it.</p>
                <p>I'm a SoCal native who spends my time volunteering in the community, and traveling around the Golden State. That is, when I'm not woking on my latest app.</p>
              </div>
        </div>
    </div>
</div>