@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
body{
    background-image: url('../assets/images/white_desk.jpg');
   
}
.app {
    color: #999;
    min-height: 100%
}
.container-fluid{
    /* background-color: #171123; */
    padding-bottom: 0.7em;
}
.navbar{
    background-color: rgba(0,0,0,0.2);
}

.navbar-nav>li>a {
    color: #fff;
    font-weight: 600;
    font-size: 2.5em;
    padding: 0.3em 0;
    margin: 0 0.3em;
    margin-bottom: 2px;
}

.navbar-nav>li>a:hover {
    /* color: #5B85AA; */
    color: rgb(255, 85, 38);
    background-color: rgba(0,0,0,0);
    border-bottom: 2px dashed rgb(255, 85, 38);
    margin-bottom: 0;
}
/* 
.navbar-default {
    border-color: #171123;
} */

nav .navbar-brand {
    /* color: #BDD3E7; */
    /* background-color: #171123; */
    font-size: 3em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}
 /* nav .nav-icon{
    color: #eee;
} */
nav .navbar-nav{
    /* background-color:  #171123; */
}

/* nav .nav-item{
    color: #eee;
} */
/* .container {
    height: 10em;
} */

.footer{
    min-height: 5em;
    padding: 2em 0;
    text-align:center;
}
.footer .name{
    font-weight: 700;
}
.footer .social-media{
    margin: 1em 0;
}
.footer .site{
    margin: 0 1em;
    text-decoration: none;
}
.footer .site:hover{
    color: rgb(255, 85, 38);
}
.footer .copyright{
    padding-top: 1em;
}


