@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.app {
    background-color: #171123 !important;
    color: #eee;
    min-height: 100%
}
.container-fluid{
    /* background-color: #171123; */
    background-color: #222;
    padding-bottom: 0.7em;
}


.navbar-default .navbar-nav>li>a {
    color: #eee;
    font-weight: 600;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #5B85AA;
}

.navbar-default {
    border-color: #171123;
}

nav .navbar-brand {
    color: #BDD3E7;
    /* background-color: #171123; */
    font-size: 3em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}
 /* nav .nav-icon{
    color: #eee;
} */
nav .navbar-nav{
    /* background-color:  #171123; */
}

/* nav .nav-item{
    color: #eee;
} */
/* .container {
    height: 10em;
} */

.footer{
    min-height: 5em;
    padding: 2em 0;
    text-align:center;
}
.footer .name{
    font-weight: 700;
}
.footer .social-media{
    margin: 1em 0;
}
.footer .site{
    margin: 0 1em;
    text-decoration: none;
}
.footer .site:hover{
    color: #F46036;
}
.footer .copyright{
    padding-top: 1em;
}


