

<nav class="navbar navbar-expand-md fixed-top">
          <button class="navbar-toggler navbar-right"
                  type="button"
                  (click)="toggleMenuCollapse()">
              <span class="fas fa-bars"></span>      
          </button>


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div [collapse]="isCollapsed"
           class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-nav mr-auto navbar-right">
          <li class="nav-item">
            <a [routerLink]="['/home']"
              class="menu-item"
              (click)="closeMenu()">Home</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/about']"
              class="menu-item"
              (click)="closeMenu()">About</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/projects']"
              class="menu-item"
              (click)="closeMenu()">Projects</a>
          </li>
          <li class="nav-item"><a href="./assets/documents/20180304_masterResume.pdf"
                 target="_blank"
                 class="menu-item"
                 (click)="closeMenu()">Resume</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/contact']"
               class="menu-item"
               (click)="closeMenu()">Contact</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
  </nav>
<div class="page-content container-fluid">
    <router-outlet></router-outlet>
</div>
