@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

.container{
    position: relative;
    min-height: 10em;
}

.name{
    color: #333;
    margin-top: 1.5em;
    font-size: 8em;
    font-family: 'Slabo 27px', serif;
    left: 1em;
    position: relative;
    display: block;
}


.tagline{
    position: relative;
    left: 8em;
    font-size: 1.5em;
    top: -0.5em;
    color: #333;
    display: block;
}

@media only screen and (max-width: 600px) {
    .name {
        font-size: 5em;
        left: 0.6em;
        margin-top: 0.5em;
    }
    .tagline{
        font-size: 1em;
        left: 4em;
    }
  }