@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

.container{
    position: relative;
    min-height: 10em;
}
.container.row{
    width: 100%;
}
.name{
    color: #333;
    position: relative;
    margin-top: 1em;
    font-size: 8em;
    font-family: 'Slabo 27px', serif;
    margin-bottom: 1.3em;
    left: 1em;
}