@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

.container{
    position: relative;
    min-height: 10em;
}
.container.row{
    width: 100%;
    margin-bottom: 1.3em;
}
.name{
    color: #333;
    position: relative;
    margin-top: 1em;
    font-size: 8em;
    font-family: 'Slabo 27px', serif;
    
    left: 1em;
}
.tagline{
    position: relative;
    left: 7em;
    font-size: 1.5em;
    top: -0.5em;
    color: #333;
}